<footer class="shadow m-1 text-white md:rounded-[15px] rounded-md"
    style="background: linear-gradient(135deg, #16425b 0%, #1d4f6f 50%, #2a6c8c 100%)">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-around">
        <span class="text-sm text-center text-white flex justify-center">
            © 2025
            <a href="/" class="hover:underline mx-2 text-white">moreglance.com</a>
            . All Rights Reserved.
        </span>
        <ul class="flex flex-wrap flex-col sm:flex-row items-center mt-3 text-sm font-medium text-white sm:mt-0">
            <li class="my-2 sm:my-0">
                <a href="/about" class="hover:underline md:me-6">About</a>
            </li>
            <li class="my-2 sm:my-0">
                <a href="/privacy-policy" class="hover:underline md:me-6">Privacy Policy</a>
            </li>
            <li class="my-2 sm:my-0">
                <a href="/term-use" class="hover:underline md:me-6">Term Condition</a>
            </li>
            <li class="my-2 sm:my-0">
                <a href="/contact-us" class="hover:underline">Contact Us</a>
            </li>
        </ul>
    </div>
</footer>

<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js" crossorigin="anonymous"></script>
<script>
    window.googletag = window.googletag || { cmd: [] };
    googletag.cmd.push(function () {
        googletag.defineSlot('/21902364955,23201994558/Cm_gameonn.top_Games_And_Info_top/Cm_gameonn.top_Games_And_Info_Interstitial', [MISSING_WIDTH, MISSING_HEIGHT], 'div-gpt-ad-1747305074594-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
    });
</script>

<!-- /21902364955,23201994558/Cm_gameonn.top_Games_And_Info_top/Cm_gameonn.top_Games_And_Info_Interstitial -->
<div id='div-gpt-ad-1747305074594-0'>
    <script>
        googletag.cmd.push(function () { googletag.display('div-gpt-ad-1747305074594-0'); });
    </script>
</div>


<script>
    const toggleButton = document.getElementById('menu-toggle');
    const navMenu = document.getElementById('navbar-search');

    toggleButton.addEventListener('click', () => {
        navMenu.classList.toggle('hidden');
    });
</script>

<!-- Body Rewarded Ad -->
<!-- <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js" crossorigin="anonymous"></script>
<div id='div-gpt-ad-1747305043386-0'>
    <script> googletag.cmd.push(function () { googletag.display('div-gpt-ad-1747305043386-0'); });</script>
</div>

<script>
    window.googletag = window.googletag || { cmd: [] };
    let rewardedSlot;
    let rewardPayload;
    googletag.cmd.push(() => {
        rewardedSlot = googletag.defineOutOfPageSlot(
            "/21902364955,23201994558/Cm_gameonn.top_Games_And_Info_top/Cm_gameonn.top_Games_And_Info_Rewarded",
            googletag.enums.OutOfPageFormat.REWARDED,
        );
        if (rewardedSlot) {
            rewardedSlot.addService(googletag.pubads());
            googletag.pubads().addEventListener("rewardedSlotReady", (event) => {
                updateStatus("Rewarded ad slot is ready.");
                event.makeRewardedVisible();
                updateStatus("Rewarded ad is now playing.");
            });
            googletag.pubads().addEventListener("rewardedSlotClosed", dismissRewardedAd);
            googletag.pubads().addEventListener("rewardedSlotGranted", (event) => {
                rewardPayload = event.payload;
                updateStatus(`You have been rewarded ${rewardPayload.amount} ${rewardPayload.type}!`);
            });
            googletag.pubads().addEventListener("slotRenderEnded", (event) => {
                if (event.slot === rewardedSlot && event.isEmpty) {
                    updateStatus("No ad returned for rewarded ad slot.");
                }
            });
            googletag.enableServices();
            googletag.display(rewardedSlot);
        } else {
            updateStatus("Rewarded ads are not supported on this page.");
        }
    });
    function dismissRewardedAd() {
        updateStatus("Rewarded ad has been closed.");
        if (rewardedSlot) {
            googletag.destroySlots([rewardedSlot]);
        }
    }
    function updateStatus(message) {
        console.log(message, "==>");
    }
</script> -->