<div class="text-center mx-auto overflow-hidden my-3 flex justify-center">
    <center>
        <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js" crossorigin="anonymous"></script>
        <script>
            window.googletag = window.googletag || { cmd: [] };
            googletag.cmd.push(function () {
                googletag.defineSlot('/21902364955,23201994558/Cm_gameonn.top_Games_And_Info_top/Cm_gameonn.top_Games_And_Info_Banner_4', [[300, 250], [250, 250], [336, 280], [250, 360]], 'div-gpt-ad-1747305180415-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        </script>

        <!-- /21902364955,23201994558/Cm_gameonn.top_Games_And_Info_top/Cm_gameonn.top_Games_And_Info_Banner_4 -->
        <div id='div-gpt-ad-1747305180415-0' style='min-width: 250px; min-height: 250px;'>
            <script>
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1747305180415-0'); });
            </script>
        </div>
    </center>
</div>